<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="copy"  class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">28mm.me - Authorization Server</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" th:class="${pageTitle} == 'Homepage' ? 'nav-link active' : 'nav-link'" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/profile" th:class="${pageTitle} == 'Profile' ? 'nav-link active' : 'nav-link'"  class="nav-link">My Profile</a></li>
        <li class="nav-item"><button onclick="submitForm()" class="nav-link">Logout</button></li>
    </ul>
</header>

</body>
</html>