<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Title</title>
    <meta name="theme-color" content="#712cf9">
    <script src="/webjars/jquery/3.7.1/jquery.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

    <th:block th:if="${@environment.getActiveProfiles()[0] eq 'prod'}">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-M582BVSXZ9"></script>
        <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M582BVSXZ9');
    </script>
    </th:block>

    <script>
    function submitForm() {
      // Get the form element
      var form = document.getElementById("quitForm");

      // Submit the form
      form.submit();
    }
  </script>
</head>
<body>


    <div class="container">

        <div th:replace="~{header :: copy}"></div>

    </div>


<form id="quitForm" action="/logout" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>

</body>
</html>