<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Title</title>
    <meta name="theme-color" content="#712cf9">
    <script src="/webjars/jquery/3.7.1/jquery.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script>
    function submitForm() {
      // Get the form element
      var form = document.getElementById("quitForm");

      // Submit the form
      form.submit();
    }
  </script>
</head>
<body>


    <div class="container">
        <div th:replace="header :: copy"></div>

        <main class="w-50 mx-auto text-center">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="mb-3 row">
                            <label for="username" class="col-sm-4 col-form-label">Username</label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" id="username" th:value="${user.username}" value="email@example.com">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" id="email" th:value="${user.email}" value="email@example.com">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="oldPasswd" class="col-sm-4 col-form-label">Old Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="oldPasswd">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="newPasswd" class="col-sm-4 col-form-label">New Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="newPasswd">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>


<form id="quitForm" action="/logout" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>

</body>
</html>